.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

#canvas {
    display: block;
}


/* 让canvas和视口同一边开始，减少差距 */

body {
    margin: 0;
    /* 干掉滚动条 */
    overflow: hidden;
}

.actions {
    position: fixed;
    top: 0;
}

.actions button {
    display: inline-block;
}

.actions svg {
    width: 1.5em;
    height: 1.5em;
}

.actions svg.active {
    color: red;
    transform: scale(1.5);
    transition: all 0.3s;
}

.colors {
    position: fixed;
    top: 8px;
    left: -52px;
}

.colors>li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 10px;
}

.colors>li.red {
    background: red;
}

.colors>li.blue {
    background: blue;
}

.colors>li.green {
    background: green;
}

.colors>li.black {
    background: black;
}

.colors>li.active {
    transform: scale(1.5);
}