.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

#canvas {
    display: block;
}


/* 让canvas和视口同一边开始，减少差距 */

body {
    margin: 0;
}

.actions {
    position: fixed;
    top: 0;
}

.actions button {
    display: inline-block;
}

.actions svg {
    width: 1.5em;
    height: 1.5em;
}

.actions svg.active {
    color: red;
    transform: scale(1.5);
    transition: all 0.3s;
}

.colors {
    position: fixed;
}